*{
    margin:0;
    padding:0;
    list-style:none;
}
.startPage{
    width:100%;
    z-index:999;
    height:800px;
    position:absolute;
    top:0;
    left:0;
    border: 1px solid black;
}
.startBtn{
    position:absolute;
    height:170px;
    width:200px;
    background-image: url('img/startGame.png');
    background-size:100% 100%;
    cursor: pointer;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
}
.wrapper{
    height:800px;
    width:100%;
    position:relative;
    background-image:url('img/bg.jpg');
    background-size: 100% 100%;
    border: 1px solid black;
}
.left-side{
    position: absolute;
    width:24%;
    height:800px;
}
.left-side img{
    margin-left:50px;
    margin-top:50px;
    display:none;
}
.main{
    position:absolute;
    left:25%;
    display: inline-block;
    width:50%;
    height:90%;
}
.header{
    width:100%;
    height:80px;
    text-align:center;
}
.score{
    line-height:40px;
    color:#ddd;
    font-size:20px;
    font-weight:bolder;
}
.score span{
    display:inline-block;
    height:80px;
    width:30px;
    line-height:80px;
    
}

.content{
    position:absolute;
    width:79.5%;
    height:36.5%;
    left:10%;
    /* top:244px; */
    top:34%;
    /* border:1px solid black;  */
}
.loser{
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.con{
    background-image: url('img/startP.jpg');
    background-size:100% 100%;
    height:300px;
    width:400px;
    position:absolute;
    margin:auto;
    left:0;
    top:0;
    right:0;
    bottom:0;
    border-radius:20px;
}

.close{
    position:absolute;
    top:0;
    right:0;
    height:40px;
    width:40px;
    background-image: url('img/closeBtn.png');
    background-size:100% 100%;
    cursor: pointer;
}
.loserScore{
    display:block;
    height:30px;
    width:60px;
    position:absolute;
    top:42%;
    left:40%;
    color:#222;
    font-size:30px;
    font-weight:bolder;
}

.food{
    background-image: url('img/apple.png');
    background-size:100% 100%;
}
.head{
    background-image: url('img/head.png');
    background-size:100% 100%;
}
.body{
    background-image: url('img/body.png');
    background-size:100% 100%;
}
